body {
    margin: 0;
    background-color: black;
    overflow-y: hidden;
    font-family: Source Code Pro;
    font-size: 14px; 
    color: #fff;
    line-height: 14px;

}

#info {
    position: relative;
    top: 0px;
    width: 100vw;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1; /* TODO Solve this in HTML */
}

#container {
    position: absolute;
    top: 0px;
    width: 100%;
    bottom: 0px;
}

