body {
    margin: 0;
    background-color: black;
    overflow-y: hidden;
    font-family: Source Code Pro;
    font-size: 14px; 
    color: #f7f8f9;
    line-height: 20px;
}

#info {
    position: absolute; 
    top: 50px;
    width: 100vw;
    float: right; 
    padding: 0px;
    text-align: right; 
    box-sizing: border-box;
    vertical-align: right; 
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0; /* TODO Solve this in HTML */
}

#instrucciones {
    /*border: 1px solid #ccc;*/ /* Borde para mayor claridad */
   
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: black gray;   /* scroll thumb and track */
    
    position: absolute; 
    margin-top: 50px;
   
    width: 50vw;
    height:94vh;

    
    overflow-x: auto; 
    overflow-y: auto;  /*Agrega la barra de desplazamiento vertical cuando sea necesario */

    padding: 0px;
    float: center;

    
  
    text-align: left; 
    box-sizing: border-box;
    vertical-align: top; 
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 2; /* TODO Solve this in HTML */
}

#container {
    position: absolute;
    top: 0px;
    width: 100%;
    bottom: 0px;
}

#clickableAwesomeFont {
    cursor: pointer;
    position:absolute;
    right: 0px;
    top: 25px;
   
}

a {
  color: white;
}

p {
}
